<label>Mes: </label>
<select id="mes1">
	<option value="enero">Enero</option>
	<option value="Febrero">Febrero</option>
	<option value="Marzo">Marzo</option>
	<option value="Abril">Abril</option>
	<option value="Mayo">Mayo</option>
	<option value="Junio">Junio</option>
	<option value="Julio">Julio</option>
	<option value="Agosto">Agosto</option>
	<option value="Septiembre">Septiembre</option>
	<option value="Octubre">Octubre</option>
	<option value="Noviembre">Noviembre</option>
	<option value="Diciembre">Diciembre</option>
</select>
<br>
<br>
<label>A&ntilde;o: </label>
<input id="ano1" placeholder="Ej.: 2015" />
<br>
<br>
<label>Componente: </label>
<select id="componente">
	<option value="bdStatus">BD</option>
	<option value="appStatus">App</option>
	<option value="hardwareStatus">Hardware</option>
	<option value="enlaceStatus">Enlace</option>
	<option value="routerStatus">Router</option>
</select>
<br>
<br>
<button type="button" onclick="consultarComp()">Consultar Disponibilidad de Componente</button>
<br>
<br>
<br>
<br>
<label>Mes: </label>
<select id="mes2">
	<option value="enero">Enero</option>
	<option value="Febrero">Febrero</option>
	<option value="Marzo">Marzo</option>
	<option value="Abril">Abril</option>
	<option value="Mayo">Mayo</option>
	<option value="Junio">Junio</option>
	<option value="Julio">Julio</option>
	<option value="Agosto">Agosto</option>
	<option value="Septiembre">Septiembre</option>
	<option value="Octubre">Octubre</option>
	<option value="Noviembre">Noviembre</option>
	<option value="Diciembre">Diciembre</option>
</select>
<br>
<br>
<label>A&ntilde;o: </label>
<input id="ano2" placeholder="Ej.: 2015" />
<br>
<br>
<button type="button" onclick="consultarGlob()">Consultar Disponibilidad Global</button>
<br>
<br>
<br>
<br>
<label>Disponibilidad: </label>
<p id="resul"></p>